EK  N8N.json
{
  "name": "EKvapi",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TallyForm",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "dcc599a3-4ac7-466b-b0af-35c294176f72",
      "name": "Webhook",
      "webhookId": "fb7a81dc-c3d6-481c-bf40-6f1cd91bb732"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app4P3KHffGKyIJp4",
          "mode": "list",
          "cachedResultName": "Interia Leads",
          "cachedResultUrl": "https://airtable.com/app4P3KHffGKyIJp4"
        },
        "table": {
          "__rl": true,
          "value": "tblAi4KQCVunSQpeV",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app4P3KHffGKyIJp4/tblAi4KQCVunSQpeV"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.body.data.fields[2].value }}",
            "Phone Number": "={{ $json.body.data.fields[1].value }}",
            "Full Name": "={{ $json.body.data.fields[0].value }}",
            "Status": "Un-Called"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": "In-Progress",
                  "value": "In-Progress"
                },
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "Un-Called",
                  "value": "Un-Called"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempt",
              "displayName": "Attempt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "id": "19268c0f-dd56-46e7-ba5a-5e2e370a8e4a",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "kp484xLf6Onr4DxZ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 881a5f79-fb2d-4540-b753-e7d9504694ce"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={   \"assistantId\": \"fcc7a3b9-90e6-48ad-9fd2-6ef365f43ff5\",   \"phoneNumberId\": \"79072965-721d-4e58-8299-091206089cab\",   \"customer\": {     \"number\": \"{{ $('Webhook').item.json.body.data.fields[1].value }}\",     \"name\": \"{{ $('Webhook').item.json.body.data.fields[0].value }}\"   } }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "8547f670-fd6f-49c1-b2b6-723354b7a5ee",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "487a3c53-148d-4b84-b42f-899f2ff7fce3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "125ae8df8e1abc3fdcfa6a1f6bb194a98c38efa56321d6d02cc49c4be2b5f7a0"
  },
  "id": "Ph1RyxHMqEjqMDTn",
  "tags": []
}